<div id="home-color">
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
</div>
<div class="home_hero text-center container-fluid">

  <h1>Easy student lets in Guildford</h1>
  <h3>Bills included, fast internet, all managed by friendly landlords,
  on-hand to help.</h3>

</div>
<div class="home-properties container">
  <div class ="row home-title">
    <h2>Houses</h2>
    <p>Below are the properties we let to students.</p>
    <div class="col-md-12">
      <div class="text-center">
        <p>We're sorry but all out properties are now <strong>fully let</strong> for the 2017/18 year.</p>
        <div class="text-center">
          <a href="#" class="btn btn-warning">Enquire about spaces for 2018 - 2019</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row"> 
    <div class="home-properties-card col-md-4">
      <div class="well">
        <%= link_to "Stag Hill", stag_hill_path, class:"h3 text-center" %>
        <p>5 Bed</p>
        <%= link_to image_tag("http://idswebhost.co.uk/guildford/images/4sh/IMAG0092.jpg"), stag_hill_path %>
        <!--class="let"-->
        <p>This 5 bed house in Onslow Village, Guildford, is secure, with a large kitchen, lounge, 
        new washing machine, and kitchen appliances.</p>
        <p class="uni-walk"><i class="fa fa-university"></i> 4 mins walk from uni</p>
      </div>
    </div>
    <div class="home-properties-card col-md-4">
      <div class="well">
        <%= link_to "Ash Grove", ash_grove_path, class:"h3 text-center" %>
        <p>6 Bed</p>
         <%= link_to image_tag("http://idswebhost.co.uk/guildford/images/23ashg/outside1.jpg"), ash_grove_path %>
        <p>Our Ash Grove house is just a 3 minute walk from Guildford uni! It's 
        recently rennovated with 6 light, airy bedrooms and off-street parking for 5 cars.</p>
        <p class="uni-walk"><i class="fa fa-university"></i> 3 mins walk from uni</p>
      </div>
    </div>
    <div class="home-properties-card col-md-4">
      <div class="well">
        <%= link_to "Southway", southway_path, class:"h3 text-center" %>
        <p>6 Bed</p>
        <%= link_to image_tag("http://idswebhost.co.uk/guildford/images/southway/SANY0145web.jpg"), southway_path %>
        <p>With parking, modern bathrooms and a roomy communal space, Southway is a perfect 
        student let for groups of 6!</p>
        <p class="uni-walk"><i class="fa fa-university"></i> 5 mins walk from uni</p>
      </div>
    </div>
    <div class="col-md-12">
      <h3>Property details</h3>
      <p>We have a growing number of houses in Guildford that are designed with students in mind. So typically we make sure you have:</p>
      <ul>
        <strong><li>Regular Gardener visits</li>
        <li>Fast Unlimited Fibre Extra Broadband</li>
        <li>Flat Screen TVs</li></strong>
        <li>Good bathroom/shower facilities</li>
        <li>A communal area for eating and socialising</li>
        <li>A study bedroom with</li>
          <ul>
            <li>Desk, chair, wardrobe, chest of drawers </li>
            <li>Quality Mattress</li>
            <li>Good quality carpet</li>
            <li>A pin board and bedside light</li>
            <li>A Smoke Alarm</li>
            <li>Mirror</li>
          </ul>
      </ul>
      <p>All you will need is bed linen/bedding and towels, and perhaps a clothes airer if you are going to wash!</p>
      <p>Our houses are all centrally heated with Gas. The kitchens are fitted out with cupboarding and storage sufficient 
      for all. Each student will also have fridge and freezer space (usually a shelf each) and we also provide a washing 
      machine toaster microwave and kettle. For the domestic there is a hoover, ironing board and mop/bucket!</p>
      <br>
      <div class="text-center">
        <a href="#" class="btn btn-primary">Click here to see our 2016 Survey Results</a>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12">
      <h2>About Us</h2>
      <p>We are parents of students who have been offered some fairly poor accommodation and we felt we could do better. 
      We have done the houses to the same standards as we would expect in our own homes. Each room is self contained and has 
      access to a bathroom and toilet or a shower room and a cloakroom with toilet. The hall landing and kitchen all have mains 
      operated smoke/flame detectors as appropriate. The roof void has been newly lagged to 250mm and the walls are cavity insulated 
      where they can be. These will be cosy homes in the winter.</p>
    </div>
  </div>
</div>
<div id="testimonials">
  <div class="container">
    <div class="col-md-12" >
        <h3>Testimonials</h3>
        <p>"On receiving  a enquiry for the  cleaning of four student rental houses, 
            I immediately cast my memory back to some of the other student accommodation I had experienced in Guildford. 
            On inspection I was pleasantly surprised at the condition and practicality of the properties. 
            A Significant  improvement on any other student accommodation I had visited in the past. 
            I also found the landlords fair and very professional to deal with."</p>
        <p>Daren  <a href="www.activecleaningservices.co.uk">Active Cleaning Services</a>  07976812741</p>
    </div>
  </div>
</div>